@import 'tailwindcss';

@font-face {
  font-family: 'Figtree';
  src: url('../fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* font */
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    Segoe UI Symbol, 'Noto Color Emoji';

  /* breakpoint */
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* shadow */
  --shadow-input: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  /* status color */
  --color-status-success: #138636;
  --color-status-warning: #ffbc11;
  --color-status-danger: #c91432;
}
